/*************************************
 * Configuración estilos main.css
 *************************************/
html,
body {
  background: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#canvas-atlax {
  border: 3px dashed #808080;
  margin: 5px;
}
